@use "../abstracts/_variable" as var;

@font-face {
  font-family: 'Akaya Kanadaka';
  src: url('../../fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf') format('truetype');
}

body
{
  font-family: 'akaya kanadaka',inter,sans-serif !important;
}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Akaya kanadaka',inter,sans-serif !important
}